<doctype html>
<title>Kullanici Ekle - Python Flask MySQL CRUD</title>
<h2>Kullanici Ekle</h2>
<form method="post" action="/add">
    <dl>
		<p>
			<input name="inputName" value="" type="text" placeholder="İsim" autocomplete="off" required>
		</p>
		<p>
			<input name="inputEmail" value="" type="text" placeholder="Mail-Adresi" autocomplete="off" required>
		</p>
		<p>
			<input name="inputPassword" value="" type="password" placeholder="Parola" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Ekle">
	</p>
</form>
